/* calculator stylesheet */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10%;
}

@font-face {
    font-family: display-font;
    src: url(DIGITALDREAM.ttf);
}

button {
    font-size: xx-large;
    border-radius: 10px;
}

/*TO DO add pressing feeling to all buttons */

.number {
    background-color: orange;
    width: 120px;
    height: 120px;
}

.function {
    background-color: rgb(129, 160, 192);
    width: 120px;
    height: 90px;
}

#clear {
    background-color: rgb(129, 160, 192);
}

#backspace {
    width: 140px;
}

/* TO DO format bspace shape */

.calculator {
    background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 550px;
    height: 800px;
    border-radius: 15px;
}

/* TO DO add shadow to calculator and/or some depth */

.display {
    background-color: rgb(218, 202, 114);
    font-family: display-font;
    font-size: 2em;
    text-align: end;
    width: 510px;
    height: 125px;
    margin: 20px 20px 40px; 
}

.extrafunctions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 20px 10px;
    height: 60px;
    gap: 10px;  
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-evenly;
    margin: 20px;
    height: 100%;  
}

.keypad-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.normalfunctions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.keyline {
    display: flex;
    flex-direction: row;
    gap: 10px;
}




